Repository fga-eps-mds/2019.2-Questmark, pull requests merged in 2019-11, with the labels that each got.

#91 86 correção de bugs
  backend/routes/forms.js
  frontend/public/exibicao_formulario/javascript/input_field_stylization.js
  frontend/public/exibicao_formulario/styles/styles.css
  frontend/public/manter_formulario/javascript/functions_submission.js
  frontend/public/manter_formulario/javascript/input_field_stylization.js
  frontend/public/manter_formulario/styles/form_styles.css
  frontend/public/manter_formulario/styles/header.css
  frontend/public/manter_formulario/styles/novoformulario.css
  frontend/public/wmd/showdown.js
  frontend/views/formularios/cadastro_formulario.ejs
  frontend/views/formularios/editar_formulario.ejs
  frontend/views/formularios/listar_respostas.ejs
  frontend/views/formularios/visualizar_formulario.ejs
Labels: bug

#100 #94 - Páginas de recuperar senha e configuração do envio de e-mails
  backend/routes/forgot_password.js
  frontend/public/recuperar_senha/styles/definir_senha.css
  frontend/public/recuperar_senha/styles/solicitar_senha.css
  frontend/views/usuarios/definir_nova_senha.ejs
  frontend/views/usuarios/login.ejs
  frontend/views/usuarios/solicitar_nova_senha.ejs
  package.json
Labels: backend, frontend

#111 107 testes
  __tests__/e2e/rotaforms.test.js
  __tests__/e2e/servidor.test.js
  __tests__/e2e/users.test.js
  __tests__/rotaforms.test.js
  __tests__/unit/auth.test.js
  __tests__/unit/bancoDados.test.js
  __tests__/unit/criptografia.test.js
  __tests__/unit/csv.test.js
  __tests__/unit/email.test.js
  __tests__/users.test.js
  backend/config/server.js
  backend/controllers/csv.js
  backend/modules/mailer.js
  backend/routes/forms.js
  package.json
Labels: backend, test

#119 115 deploy
  backend/config/server.js
  backend/routes/forgot_password.js
  index.js
  package.json
Labels: backend

#124 121 refatoracao links
  frontend/public/header/style/header.css
  frontend/public/listagem_formulario/js/copyForm.js
  frontend/views/partials/Header.ejs
Labels: backend

#125 117 botão home
  frontend/public/login_e_cadastro/styles/login_e_cadastro.css
  frontend/views/usuarios/criar_conta.ejs
  frontend/views/usuarios/definir_nova_senha.ejs
  frontend/views/usuarios/login.ejs
Labels: frontend

#132 127 Arquivo .env
  .env
  __tests__/unit/email.test.js
  backend/config/server.js
  backend/routes/forgot_password.js
  package.json
Labels: backend

#134 Corrigindo erro de caixa do formulario quebrar quando diminuir
  frontend/public/listagem_formulario/styles/listForms.css
Labels: bug

#135 [BUGFIX] Retirado o card dentro da seção pq nós
  frontend/views/ajuda/ajuda.ejs
Labels: bug
