Repository fga-eps-mds/2019.2-Questmark, pull requests merged in 2019-10, with the labels that each got.

#56 49 tdd
  .dockerignore
  .gitignore
  __tests__/bancoDados.test.js
  __tests__/rotaforms.test.js
  __tests__/servidor.test.js
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
Labels: backend

#55 51 nodemon
  .gitignore
  Dockerfile
  config/server.js
  docker-compose.yml
  package.json
Labels: backend

#57 52 relacionamento models
  config/server.js
  controllers/auth.js
  models/Users.js
  package.json
  routes/forms.js
  routes/users.js
Labels: backend

#59 #48 Refatorar layout
  client/questmark/.gitignore
  client/questmark/README.md
  client/questmark/package.json
  client/questmark/public/favicon.ico
  client/questmark/public/index.html
  client/questmark/public/manifest.json
  client/questmark/public/robots.txt
  client/questmark/src/components/FormCard.js
  client/questmark/src/components/Header.js
  client/questmark/src/index.css
  client/questmark/src/index.js
  client/questmark/src/pages/CreateForm.js
  client/questmark/src/pages/ListForms.js
  client/questmark/src/styles/CreateForm.css
  client/questmark/src/styles/FormCard.css
  client/questmark/src/styles/Header.css
  client/questmark/src/styles/ListForms.css
Labels: frontend

#67 61 organizar repositorio
  .dockerignore
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  backend/config/server.js
  backend/controllers/auth.js
  backend/models/Formulario.js
  backend/models/Users.js
  backend/routes/forms.js
  backend/routes/users.js
  client/questmark/.gitignore
  client/questmark/README.md
  client/questmark/package.json
  client/questmark/public/favicon.ico
  client/questmark/public/index.html
  client/questmark/public/manifest.json
  client/questmark/public/robots.txt
  client/questmark/src/components/FormCard.js
  client/questmark/src/components/Header.js
  client/questmark/src/index.css
  client/questmark/src/index.js
  client/questmark/src/pages/CreateForm.js
  client/questmark/src/pages/ListForms.js
  client/questmark/src/styles/CreateForm.css
  client/questmark/src/styles/FormCard.css
  client/questmark/src/styles/Header.css
  client/questmark/src/styles/ListForms.css
  frontend/public/cadastro_formulario/javascript/functions_submission.js
  frontend/public/cadastro_formulario/style/header.css
  frontend/public/cadastro_formulario/style/novoformulario.css
  frontend/public/exibicao_formulario/javascript/input_field_stylization.js
  frontend/public/exibicao_formulario/styles/styles.css
  frontend/public/listagem_formulario/images/pencil-edit-button.svg
  frontend/public/listagem_formulario/images/pie-chart-stats.svg
  frontend/public/listagem_formulario/images/recycling-bin.svg
  frontend/public/listagem_formulario/images/share-sign.svg
  frontend/public/listagem_formulario/listforms.css
  frontend/public/wmd/showdown.js
  frontend/public/wmd/wmd.combined.js
  frontend/public/wmd/wmd.combined.min.js
  frontend/public/wmd/wmd.js
  frontend/views/a.ejs
  frontend/views/formularios/cadastro_formulario.ejs
  frontend/views/formularios/inicio.ejs
  frontend/views/formularios/lista_respostas.ejs
  frontend/views/formularios/visualizar_formulario.ejs
  frontend/views/usuarios/criar_conta.ejs
  frontend/views/usuarios/login.ejs
  index.js
  package.json
  public/wmd/Makefile
  public/wmd/jsmin.py
  public/wmd/markdownhelp.html
  public/wmd/wmd-buttons.png
  public/wmd/wmd-buttons.psd
  public/wmd/wmd-test.html
  public/wmd/wmd.css
Labels: backend, documentation, frontend, github, help wanted

#72 66 tela home
  backend/config/server.js
  frontend/public/home/css/home.css
  frontend/public/home/img/Gustavo.jpg
  frontend/public/home/img/Luiz.jpg
  frontend/public/home/img/danilo.jpg
  frontend/public/home/img/imagem_home.png
  frontend/public/home/img/lucas.jpg
  frontend/public/home/img/miguel.jpg
  frontend/public/home/img/nicalo.jpg
  frontend/public/home/js/main.js
  frontend/public/home/lib/animate/animate.min.css
  frontend/public/home/lib/bootstrap/css/bootstrap.css
  frontend/public/home/lib/bootstrap/css/bootstrap.min.css
  frontend/public/home/lib/bootstrap/js/bootstrap.bundle.min.js
  frontend/public/home/lib/bootstrap/js/bootstrap.min.js
  frontend/public/home/lib/jquery/jquery-migrate.min.js
  frontend/public/home/lib/jquery/jquery.min.js
  frontend/public/home/lib/wow/wow.js
  frontend/public/home/lib/wow/wow.min.js
  frontend/views/a.ejs
  frontend/views/home/home.ejs
Labels: frontend

#71 68-Concluir páginas
  backend/config/server.js
  frontend/public/cadastro_formulario/style/header.css
  frontend/public/header/styles/header.css
  frontend/public/help_pages/background-image.jpg
  frontend/public/help_pages/pagina_de_ajuda.css
  frontend/public/login_e_cadastro/styles/login_e_cadastro.css
  frontend/public/logout/javascript/logoutFunction.js
  frontend/views/formularios/cadastro_formulario.ejs
  frontend/views/formularios/inicio.ejs
  frontend/views/formularios/visualizar_formulario.ejs
  frontend/views/help/pagina_de_ajuda.ejs
  frontend/views/partials/Header.ejs
  frontend/views/usuarios/criar_conta.ejs
  frontend/views/usuarios/login.ejs
Labels: frontend

#73 [BUGFIX] Resolvendo erro da partials e do redirecionamento
  backend/config/server.js
  frontend/views/formularios/cadastro_formulario.ejs
  frontend/views/formularios/inicio.ejs
  frontend/views/home/home.ejs
Labels: backend

#82 79-Teste de usuario
  __tests__/bancoDados.test.js
  __tests__/rotaforms.test.js
  __tests__/users.test.js
Labels: backend

#83 75 - Recuperação de senha
  backend/config/server.js
  backend/controllers/auth.js
  backend/models/Users.js
  backend/modules/mailer.js
  backend/resources/mail/auth/forgot_password.html
  backend/routes/forgot_password.js
  backend/routes/forms.js
  backend/routes/users.js
  package.json
Labels: backend

#85 81 validação form cadastro
  backend/config/server.js
  backend/models/Users.js
  backend/routes/users.js
  frontend/public/login_e_cadastro/images/check.png
  frontend/public/login_e_cadastro/images/error.png
  frontend/public/login_e_cadastro/javascript/form_validation.js
  frontend/public/login_e_cadastro/styles/login_e_cadastro.css
  frontend/views/formularios/cadastro_formulario.ejs
  frontend/views/formularios/lista_respostas.ejs
  frontend/views/usuarios/criar_conta.ejs
  frontend/views/usuarios/login.ejs
Labels: backend, frontend

#84 77 editar formulário
  backend/routes/forms.js
  frontend/public/cadastro_formulario/javascript/functions_submission.js
  frontend/views/formularios/editar_formulario.ejs
  frontend/views/formularios/inicio.ejs
Labels: backend, frontend

#88 80 conversor json para csv
  backend/routes/forms.js
  frontend/views/formularios/inicio.ejs
  frontend/views/formularios/lista_respostas.ejs
Labels: backend
